<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company-name">회사명</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24">
            <input nz-input formControlName="companyName" id="company-name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="accounting-day">회계일</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24">
            <input nz-input formControlName="accountingDay" id="accounting-day" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="vacation-generate-standard">연차 발생</nz-form-label>
            <nz-form-control [nzSm]="3" [nzXs]="24">
                <nz-select formControlName="vacationGenerateStandard" id="vacation-generate-standard">
                    <nz-option nzLabel="연차지급" nzValue=1></nz-option>
                    <nz-option nzLabel="회계일지급" nzValue=2></nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="vacation-for-first-year">1년차</nz-form-label>
            <nz-form-control [nzSm]="3" [nzXs]="24">
                <nz-select formControlName="vacationForFirstYear" id="vacation-for-first-year">
                    <nz-option nzLabel="월 1일" nzValue=1></nz-option>
                    <nz-option nzLabel="회계일 전 선부여" nzValue=2></nz-option>
                    <nz-option nzLabel="입사일 11일 선부여" nzValue=3></nz-option>
                </nz-select>
            </nz-form-control>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="vacation-for-under-year">1년 미만</nz-form-label>
            <nz-form-control [nzSm]="3" [nzXs]="24">
                <nz-select formControlName="vacationForUnderYear" id="vacation-for-under-year">
                    <nz-option nzLabel="회계일 선부여" nzValue=1></nz-option>
                    <nz-option nzLabel="회계일 비례부여" nzValue=2></nz-option>
                </nz-select>
            </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" (click)="submitEdit()" [disabled]="!validateForm.valid">변경</button>
        </nz-form-control>
    </nz-form-item>
</form>

