<nz-list [nzHeader]="headerTemplate">
  <ng-template #headerTemplate>
    <div nz-row [nzGutter]="18">
      <div nz-col [nzSpan]="14">
        <app-search-input (search)="onSearch($event)" #searchInput></app-search-input>
      </div>
      <div nz-col [nzSpan]="4" >
        <app-organize-map-form [selectHandler]="selectItem"></app-organize-map-form>
      </div>
    </div>
  </ng-template>
  @for (item of items; track item) {
      <nz-list-item (click)="selectItem(item)">
        {{ item.name }}
      </nz-list-item>
  }
</nz-list>