@if(authInfo){
<nz-card [nzTitle]="authInfo.member.name">
    <form nz-form [formGroup]="validateForm">
        <!-- <p>회사명 : {{auth.company.name}}</p> -->
        <p>Email : {{authInfo.member.email}}</p>
        <nz-form-item>
            <nz-form-control nzErrorTip="변경하려는 비밀번호를 입력해주세요">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <p>입사일: {{authInfo.member.hire_date | date: 'yyyy-MM-dd'}}</p>
        <!-- <p>그룹 : {{member.groups}}</p> -->
        <button nz-button nzType="default" (click)="deactivate()">퇴사</button>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" (click)="submitEdit()" [disabled]="!validateForm.valid">변경</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
}