@if (hasCustomButton) {
  <ng-content select=".submit-button"></ng-content>
} @else {
  <button nz-button nzType="primary" nzShape="circle" (click)="showModal()">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
}
<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="title"
      [nzFooter]="nzFooter"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
      <ng-container *nzModalContent>
        <ng-content></ng-content>
        <div nz-typography nzType="danger">{{errorMessage}}</div>
      </ng-container>
</nz-modal>
