<nz-card>
  <p>{{vacationPlanData.member_name}}</p>
  <nz-list [nzDataSource]="vacationPlanData.vacations" nzBordered>
    @for (item of vacationPlanData.vacations; track item) {
    <nz-list-item>
      <app-dashboard-vacation-card [contents]="item" />
    </nz-list-item>
    }
  </nz-list>
  <button nz-button nzType="primary" [disabled]="disabled" (click)="onApprove()">
    승인
  </button>
  @if (disabled) {
  <button nz-button nzType="primary" (click)="onCancelReject()">
    반려 취소
  </button>
  } @else {
  <button nz-button nzType="primary" nzDanger [disabled]="disabled" (click)="onReject()">
    반려
  </button>
  }
</nz-card>