<app-modal-button
    #modalAddButton
    title="결재라인 변경"
    [okHandler]="handleOk"
>
    <div id="approver_order">
        <div *ngFor="let approver of approver.controls; let i = index" [formGroup]="approver">
            <app-search-and-select (memberSelected)="selectedApprover(i, $event)"/>
            @if(i!=0){
                <button nz-button nzType="default" (click)="removeApprover(i)">삭제</button>
            }
        </div>
    </div>
    <button nz-button nzType="primary" (click)="addApprover()">추가</button>
    <button class="submit-button" #submitButton nz-button nzType="primary" (click)="modalAddButton.showModal()">            
        변경
    </button>
</app-modal-button>