<nz-card>
    <p>{{vacationPlanData.member_name}}</p>
    <app-approver-list 
        [approverList]="vacationPlanData.approver_order"
        [approveStage]="vacationPlanData.approve_stage"
        [rejectState]="vacationPlanData.reject_state"
        [approvalAuth]="approvalAuth"
    ></app-approver-list>
    <nz-list [nzDataSource]="vacationPlanData.vacations">
      @for (item of vacationPlanData.vacations; track item) {
      <nz-list-item>
        <app-applier-vacation-card [vacationPlanId]="vacationPlanData.id" [contents]="item" 
            (vacationChange)="onVacationChange(item.id)"
            (vacationPlanChange)="onVacationPlanChange($event)" 
        />
      </nz-list-item>
      }
    </nz-list>
    @if (!disabled) {
        <button nz-button nzType="primary" (click)="onChange()">
            변경
        </button>
        <button nz-button nzType="primary" nzDanger (click)="onCancel()">
            취소
        </button>
    }
</nz-card>