<nz-card>
    <p>{{vacationPlanData.member_name}}</p>
    @if (disabled) {
        <p nz-typography nzType="danger">반려됨</p>
    }
    <app-approver-list 
        [approverList]="vacationPlanData.approver_order"
        [approveStage]="vacationPlanData.approve_stage"
        [rejectState]="vacationPlanData.reject_state"
        [approvalAuth]="approvalAuth"
    ></app-approver-list>
    <nz-list [nzDataSource]="vacationPlanData.vacations">
      @for (item of vacationPlanData.vacations; track item) {
      <nz-list-item>
        <app-applier-vacation-card 
            [vacationPlanId]="vacationPlanData.id" 
            [contents]="item"
            [planDisabled]="disabled"
            (vacationChange)="onVacationChange(item.id)"
            (vacationPlanChange)="onVacationPlanChange($event)" 
        />
      </nz-list-item>
      }
    </nz-list>
    @if (!disabled) {
        <app-change-vacation-plan-button
            [vacationPlanData]="vacationPlanData"
        />
        <button nz-button nzType="primary" nzDanger (click)="onCancel()">
            취소
        </button>
    }
</nz-card>